.weekItem {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 40px 20px 40px;
  border-radius: 10px;
  background: #f1f1f1;
  border: 1px solid #d8d6d6;
}

.weekInfoBox {
  display: flex;
  font-size: 20px;
  gap: 40px;
}

.weekMainInfo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.weekDayName {
  font-size: 20px;
}

.weekImg {
  width: 100px;
}

.weekDegree {
  font-size: 40px;
  font-weight: 800;
}

.weekInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.weekInfoImg {
  width: 20px;
}

@media (max-width: 767px) {
  .weekItem {
    flex-direction: column;
  }
  .weekInfoBox {
    flex-direction: column;
    gap: 15px;
  }
}
